body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: calc(100% - 40px);
    height: 60px;
    background: white;
    padding: 0 20px;
    box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
    border-bottom: 1px solid #e2e2e2;
    z-index: 10000;
}
.indent {
    text-indent: 40px;
    margin: 0;
}

.header-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
    padding: 5px;
    font-size: 12px;
    text-shadow: none;
}

.header-credit a:visited {
    color: white;
}

.top-bar-side {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    flex: 1;
}
.top-bar-side img {
    height: 50%;
}
.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}
.header {
    width: calc(100% - 40px);
    text-align: center;
    text-shadow:
    -2px -2px 5px #000,  
     2px -2px 5px #000,
     -2px 2px 5px #000,
      2px 2px 5px #000;
    background: url('HeaderBG.jpg') no-repeat center center/cover;
    padding: 50px 20px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: relative;
}
.content p {
    text-align: justify;
}
.content strong {
    font-weight: bold;
}